form {
	.upload-resume {
		.row {
			.row.collapse {
				margin-bottom: 10px;
				label, input {
					margin: 0;
				}
			}
		}
	}
}
.upload-resume {
	.columns.error {
		label {
			margin-bottom: 0;
			input {
				border: 1px solid #f04124;
			}
		}
		small.error {
			background: transparent;
			color: #f04124;
		}
	}

	label {
		font-weight: normal;
		img {
			width: 96px;
			height: 73px;
			display: inline-block;
			margin: 20px auto 0 auto;
		}
		input[type='file'] {
		    opacity: 0;
		    overflow: hidden;
		    position: absolute;
		    z-index: -1;
		    left: 0;
		    top: 0;
		}
		input[type='text'],
		input[type='email'],
		input[type='password'] {
			border-width: 0 0 1px;
		}
		input[type='text'] {
		    min-height: 45px;
		    font-size: 1rem;
		    padding: 10px 20px;
		}
		.has-tip {
			font-weight: normal;
			cursor: initial;
		}
		small {
			color: #999;
		}
		span {
			font-size: 0.85rem;
		}
	}
	.show-name {
		p {
			position: relative;
			margin-top: 8px;
			a {
			    position: absolute;
			    right: 14px;
			    top: 7px;
			}
		}
	}
	.list-header {
		padding: 10px 22px;
		border-bottom: 1px solid rgba(160, 160, 160, 0.2);
		h2 {

		}
	}
	.list-footer {
		.button {
			margin-bottom: 0;
		}
	}

}

.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px !important;	
}
.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px !important;
}
.switch-label {
	vertical-align: top;
	line-height: 30px;
	font-size: 0.80rem !important;
}