//** add this stylesheet when RadEditor is used   */

.RichText_Content p
{
	margin-top: 0px !important;
    margin-bottom: 0px !important;
}


.RichText_Content ul
{
	list-style-type: disc !important; 
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.RichText_Content ol
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.RichText_Content li 
{
	*margin-left: -0px;
}

.jdpContent p {
	margin-top: 0;
	margin-bottom: 0;
}
.jdpContent ul {
	margin-top: 0;
	margin-bottom: 0;
}
.jdpContent ol {
	margin-top: 0;
	margin-bottom: 0;
}
