//New tags label JDP 
.tags {
    /*margin: 5px;
    padding-left: 1rem;*/
    margin-bottom: 0;
	a.label {
	    border: 1px solid rgba(0, 0, 0, 0.12);
		color: rgba(121, 121, 121, 0.72) !important;
    	background-color: #FFFFFF;
	    margin-bottom: 1px;
	    margin-right: 5px;
	    &:hover {
    		background-color: #023558;
	    	color: rgba(255, 255, 255, 1) !important;
	    }
	}
}
