.contract {
	ul {
	  margin-top: 10px;
    li {
    	padding-bottom: 0 !important;
    	label {
		    margin-bottom: 0;
		    font-size: .80rem;
		    line-height: initial;
		    input {
		    	margin: 0;
		    }
			}
	  }
	}
}

.list-body {
	position: relative;
	overflow: hidden;
	margin: 0 0 1rem 0;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	.list-content {
	  padding: 10px 22px;
	}
	.list-footer {
		border-top: 1px solid rgba(160, 160, 160, 0.2);
		padding: 20px 22px;
		background: rgba(239, 239, 239, 0.2);
		.button {
			margin-bottom: 3px;
		}
	}	
}
.profile-container {
	.profile-top {
		.edit-profile, .preview-cv {
			margin-left: 10px;
			font-size: 1.3rem;
			font-weight: normal;
			outline: none;
			small {
				color: #09a0db;
				&:hover {
					color: #39b3e1;
				}
			}
		}
		.list-progress {
			p, span {
				margin-bottom: 0;
			}
			.progress {
				.meter {
					position: relative;
					.percent {
						position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					    margin: 0;
					    font-family: tahoma,arial,helvetica;
					    font-size: 12px;
					    color: #FFFFFF;
					}
				}
			}
		}
		.list-details {
			.subheader {
				margin-bottom: 0;
			}
		}
	}
	.profile-middle {
		margin-top: 5px;
		h4 {
			font-weight: normal;
			//border-bottom: 1px solid rgba(204, 204, 204, 0.41);
			padding: 10px 0 12px;
		}
		ul.panel {
			background: rgb(250, 250, 250);
			border-color: rgba(216, 216, 216, 0.13);
			position: relative;
			margin-bottom: 0;
			&:hover {
				box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 0px 7px 0 rgba(0,0,0,0.1);
			}
			.list-actions {
			    position: absolute;
			    right: 10px;
			    a {
			    	color: rgba(111, 111, 111, 0.68);
			    	border: none;
			    	cursor: pointer;
			    	&:hover {
			    		color: #09a0db;
			    	}
			    }
			    i {
			    	margin-right: 10px;
			    }
			}
			.subheader {
				margin: 0;
			}
		}
		.bottom-actions {
			font-size: 0.9rem;
			margin-top: 8px;
			a {
			    background-color: #f04124;
				border-color: #cf2a0e;
			    color: #FFFFFF;
			    padding: 10px 20px 12px;
			    border-radius: 4px;
			}
		}
	}
}