.contract {
	ul {
	  margin-top: 10px;
    li {
    	padding-bottom: 0 !important;
    	label {
		    margin-bottom: 0;
		    font-size: .85rem;
		    line-height: initial;
		    input {
		    	margin: 0;
		    }
			}
	  }
	}
}

.list-body {
	position: relative;
	overflow: hidden;
	margin: 0 0 1rem 0;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	.list-content {
	  padding: 10px 22px;
	}
	.list-footer {
		border-top: 1px solid rgba(160, 160, 160, 0.2);
		padding: 10px 22px;
		background: rgba(239, 239, 239, 0.2);
		.button {
			margin-bottom: 3px;
		}
	}	
}