//importing tags styles
@import 'tags';
@import 'variables';

.depth-first {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

// Hire Insider - JDP

section.jdp-container {
	background: #EFEFEF;
	padding-top: 15px;
	>.row:first-child {
		padding: 0px !important;
	}

	.top-content {
		background: #FFFFFF;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		.media, .hire-insider, .job-body {
			box-shadow: none;
		}
		.hire-insider {
			text-align: center;
			box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.15);
			padding: 15px !important;
			h4.orange-light {
				font-size: 20px;
				margin-top:0;
			}
			h4 {
				font-size: 0.95rem;
				font-weight: 700;
			}
			small {
				font-size: 85%;
				color: #666;
				margin-bottom: 7px;
			}
		}
	}
	.middle-content {
		.job-body {
			padding: 20px 10px;
		}
	}
	.right-content {
		.full-white-bg {
			background: #FFFFFF !important;
		}
		.list.full-white-bg {
			border-top-left-radius: 0;
    		border-top-right-radius: 0;
    		margin-bottom: 5px;
		}
		.hire-insider {
			margin-bottom: 5px;
			text-align: center;
			.orange-light {
				font-size: 1.6rem;
			}
			h4 {
				font-size: .85rem;
				font-weight: 600;
			}
			 small {
			    display: block;
			    font-size: 0.75rem;
			    line-height: normal;
			    color: rgba(25, 25, 25, 0.52);
			    margin-bottom: 10px;
			}
		}
		.list {
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			padding: 10px 20px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			margin-bottom: 15px;
			background: rgba(242, 242, 242, 0.34);
			.title {
				border-bottom: 1px solid #CCCCCC;
			    padding-bottom: 10px;
			    margin-bottom: 15px;
			    font-weight: normal;
			    color: #023558;
			    margin-top: 0;
			    font-size: 1.1rem;
			}
			ul {
				li.info {
					line-height: normal;
					margin-bottom: 10px;
					padding-bottom: 10px;
					border-bottom: 1px dotted #CCC;
					a {
						font-size: 0.90rem;
					}
					span {
						font-size: 0.80rem;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
			p {
				margin-bottom: 0;
				.button {
					margin-bottom: 5px;
				}
			}
		}
	}
	.media, .hire-insider, .job-body {
		background: #FFFFFF;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border: none;
	}
	.media-left {
		padding: 30px 20px;
	}
	.media-heading {
		padding-top: 20px;
		margin: 0;
		font-weight: normal;
	}
	.media {
		.tags {
			padding-left:0;
			margin-left: 0;
		}
		
		.action {
			margin-top: 15px;
			.button {
				margin-bottom: 0;
				padding: 10px 25px !important;
				font-weight: normal;
				font-size: 0.9rem;
			}
		}
	}
	.info {
		> * {
			margin-right: 10px;
		}
		span {
			color: #666;
			&:before {
				padding-right: 3px;
			}
		}
	}
	.hire-insider {
	    small {
		    display: block;
		    font-size: 85%;
		}
		.orange-light {
		    color: rgba(243, 107, 33, 0.73);
		}
		h4.orange-light, h4 {
			font-weight: 400;
		}
		h4, h5 {
		    line-height: 24px;
		    margin: 10px 0 0;
		}
		.button {
		    margin: 0 0 5px;
		    padding: 10px 0px !important;
		    font-size: 90%;
		}
		h2, h6 {
	    	margin: 0;
		}
	}
	.job-body {
		margin-top: 5px;
		margin-bottom: 15px;
		padding:20px 30px;
		ul.job-snapshot {
			padding-bottom: 15px;
			li {
				dl, dt, dl dd {
					margin-bottom: 0;
				}
				dl {
					dt {
						font-size: 0.8rem;
						color: #999;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
		}
		ul {
			list-style-position: inside;
		}
		h3 {
			border-bottom: 1px solid #CCCCCC;
			padding-bottom: 10px;
			margin-bottom: 15px;
			font-weight: normal;
			color: #023558;
		}
	}
}
.row.top-content {
	.job-content.columns {
		padding-left: 1.7rem !important;
		ul.job-snapshot {
			li {
				dl {
					dt {
					    font-size: 0.8rem;
					    color: #999;
					    font-weight: 400;
					    line-height: normal;
					    margin: 0;
					}
				}
			}
		}
		h3 {
		    border-bottom: 1px solid #CCCCCC;
		    padding-bottom: 10px;
		    margin-bottom: 15px;
		    font-weight: normal;
		}
		ul.small-hire-insider {
			background: rgba(241, 241, 241, 0.69);
			border-top: 1px solid rgba(204, 204, 204, 0.44);
			margin-bottom: 20px;
			li {
				font-size: 0.75rem;
				padding-bottom: 0 !important;
				h2 {
					padding-left: 1.5rem;
					font-weight: 400;
				}
			}
			li:last-child,li:nth-of-type(2n) {
				line-height: 47px;
			}
		}
		.upload-form {
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			.tabs {
				//box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
				.tab-title {
					>a {
						background-color: transparent;
					}
				}
				.tab-title.active {
					a {
					    color: #ee6e73;
					    display: block;
					    padding: 1rem;
					    width: 100%;
					    height: 100%;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    transition: color .28s ease;
					    box-shadow: inset 0px -3px 0px #f6b2b5;
					    will-change: left, right;
					    outline: none;
					}
				}
			}
			.tabs-content {
				> .content {
					padding: 0.9375rem;
					label {
						color: $global-color;
					    font-weight: normal;
					    line-height: 1.5;
					}
					.upload-resume {
						label {
							p {
								margin-bottom: 0;
							}
						}
					}
					
					.profile {
						ul.inline-list {
							margin-top: 10px;
							li {
								margin-left: 0;
								margin-right: 1.375rem;
								label {
									margin-bottom: 0;
									font-size: .85rem;
									input[type="file"], input[type="checkbox"], input[type="radio"], select {
										margin-bottom: 5px;
									}
								}
							}
						}
					}
				}
				> .content.active {

				}
			}
		}
	}
	.right-content:last-child {
		padding-top: 0.9375rem !important;
		padding-left: 0.9375rem !important;
		padding-right: 0.9375rem !important;
	}
}
.privacy, .switches {
	display: inline-flex;
	.switch {
		margin-top: 5px;
		margin-right: 15px;
	}
}
.button-group {
	.link {
		margin-left: 40px;
		color: rgba(0, 0, 0, 0.44);;
	}
}

.cyan-badge {
	background: #00acc1;
	height: 10px;
	position: absolute;
	top: -15px;
	width: 90%;
}
.quick-apply {
	.switches {
		h5 {
			font-weight: 400;
		}
		label {
			font-weight: 400;
			font-size: .85rem;
			.switch.round {
				margin-bottom: 0;
			}
		}
	}
}

//Existing Resume
.existing-resume {
	.button-group {
		margin-left: -5px;
		margin-top: 10px;
		li {
			label {
				padding: 5px 10px;
				img {
					width: 32px;
					height: 32px;
					margin: 0;
				}
				.download-links {
					border-left: 1px solid #CCC;
					padding-left: 7px;
					margin-left: 5px;
					vertical-align: middle;
					color: rgba(0, 0, 0, 0.21);
					&:hover {
    					color: #39b3e1;
    				}
				}
			}
		}
	}
}
.contract {
	ul {
		margin-top: 10px;
		li {
			/*margin-left: 0;*/
			/*margin-right: 1.375rem;*/
			padding-bottom: 0 !important;
			label {
				margin-bottom: 0;
				font-size: .85rem;
				input[type="file"], input[type="checkbox"], input[type="radio"], select {
					margin-bottom: 5px;
				}
			}
		}
	}
}


$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$selected-color: salmon;

input[data-toggle] {
  display: none;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  /*//background-color: $selected-color;*/
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 
              0 1px 2px rgba(0, 0, 0, 0.05);*/
	position: relative;
	&:before {
	content: '\f05d';
	font-family: FontAwesome;
	color: #28B583;
	font-size: 20px;
	margin-right: 10px;
	}
}

/*.button-group.toggle {
  li:not(first-child) {
    margin: 0 -0.9rem;
  }
}*/